#include <nrf9160dk_nrf52840_reset_on_if5.dtsi>
#include <nrf9160dk_uart1_on_if0_3.dtsi>

&uart1 {
    status="okay";
    current-speed = <115200>; 
};

&nrf_interface_pins_0_2_routing {
    status="okay";
};

&nrf_interface_pins_3_5_routing {
    status="okay";
};
